<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniurl.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="URL_NUM" jdbcType="INTEGER" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="INTEGER" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="INTEGER" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="INTEGER" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="INTEGER" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="VARCHAR" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="VARCHAR" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="userEmailVerify" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="hashPass" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="userClass" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="URL_NUM" jdbcType="VARCHAR" property="urlNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.miniurl.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="VARCHAR" property="USER_ID" />
    <result column="USER_EMAIL" jdbcType="VARCHAR" property="USER_EMAIL" />
    <result column="USER_EMAIL_VERIFY" jdbcType="VARCHAR" property="USER_EMAIL_VERIFY" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="USER_NAME" />
    <result column="HASH_PASS" jdbcType="VARCHAR" property="HASH_PASS" />
    <result column="USER_CLASS" jdbcType="VARCHAR" property="USER_CLASS" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="CREATED_BY" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="CREATED_TIME" />
    <result column="URL_NUM" jdbcType="VARCHAR" property="URL_NUM" />
  </resultMap>
</mapper>